body{
    font-family: 'Lato', sans serif;
}
.head-nav{
	background-color:#AD653D !important;
}
.navbar-brand{
	font-size:22px;
	font-weight:700;
	color:#0C0C0C;
}
.navbar-nav{
	font-weight:600;
	font-size:20px;
}
.navbar-nav:hover{
    font-weight:900;
}
#search{
	border-color: black;
	color:black;
}
#search:hover{
	background-color: #AD6039;
	font-size:19px;
}
@media (min-width: 1200px){
	body{
	background: url('images/big.jpg') no-repeat;
     background-size: cover;
     background-position:center; 
     width:100%;
     min-height: 80vh;
}
}
@media (min-width:992px)and (max-width: 1199px){
	body{
		background: url('images/big.jpg') no-repeat;
		 background-size: cover;
     background-position:center;
      width:100%;
     min-height: 100vh;
	}

}
@media (min-width: 768px) and (max-width: 991.98px){
	body{
		background: url('images/big.jpg') no-repeat;
		 background-size: cover;
     background-position:center;
      width:100%;
     min-height: 100vh;
	}
	
}
@media (min-width: 576px) and (max-width: 767.98px) {
	body{
		background: url('images/sm.jpg') no-repeat;
		 background-size: cover;
     background-position:center;
      width:100%;
     min-height: 100vh;
	}

}
@media (max-width: 575px){
	body{
		background: url('images/sm.jpg') no-repeat;
		 background-size: cover;
     background-position:center;
      width:100%;
     min-height: 80vh;
	}

}

